{
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest": true
    },
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": { "node": true },
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended-type-checked",
        "prettier"
    ],
    "parserOptions": {
        "sourceType": "module"
    }
}
