{
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest": true
    },
    "root": true,
    "plugins": ["@typescript-eslint", "eslint-plugin-tsdoc", "eslint-plugin-import"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended-type-checked",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "import/order": [1, { "groups": ["external", "builtin", "internal", "parent", "sibling", "index"] }],
        "tsdoc/syntax": "error"
    }
}
