# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Direnv
.envrc

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Exclude coverage reports
coverage/

# Exclude generated documentation
docs/

# Exclude build artifacts
dist/

# Ignore (most of) the test vault
test-vault/.obsidian/*
!test-vault/.obsidian/community-plugins.json
!test-vault/.obsidian/plugins/
test-vault/.obsidian/plugins/*
!test-vault/.obsidian/plugins/dataview/
!test-vault/.obsidian/plugins/obsidian-bujo/
!test-vault/.obsidian/plugins/hot-reload/
test-vault/.obsidian/plugins/obsidian-bujo/*
!test-vault/.obsidian/plugins/obsidian-bujo/.hotreload
