# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Exclude coverage reports
coverage/

# Exclude generated documentation
docs/

# Ignore .obsidian
test-vault/.obsidian/*
# ...except for which plugins are enabled
!test-vault/.obsidian/community-plugins.json
# ...and keeping track of updates to the hotreload plugin.
!test-vault/.obsidian/hot-reload-master/*
